body{
    background-color: red;
}
p {
    font-family: "arial", Times, serif;
}
body {
    font-family: "arial", Times, serif;
}
h1 {
    font-family: "arial", Times, serif;
}
h2 {
    font-family: "arial", Times, serif;
}
